body{
	 height:auto;
	 width:default;
	background-color:  #ebebe0;
}
#header
{
     width:1180px;
     height:140px;
  	 
	 margin-top:15px;
	 margin-left:80px;
	 margin-right:20px;
	 position:right;
	 border-radius:20px 20px 20px 20px;
	 }
	 

.f{
margin-top:120px;
margin-right:100px;
float:right; 
}




#menu1
{
     width:1180px;
     height:120px;
  	 background-color:#ffffcc;
	  margin-top:30px;
	   margin-left:80px;
	 border-radius:20px 20px 20px 20px;
     direction:left;
}



#container
{

     width:1180px;
     height:auto;
  	 background-color:white;
	 margin-top:10px;
	 margin-left:80px;
	 border-radius:20px 20px 20px 20px;

}

a:link {color:blue;text-decoration: none;}
a:visited {color:red;}
a:hover{color:blue;}

ul,li{
float:left;
padding:5px;
display:on-line block;
display:block;
}

#footer
{
     width:1180px;
     height:100px;
	 margin-top:30px;
	 margin-left:80px;
	 font-size:20px;
     font-color:black;
    
clear both;
	 
	

}
/********************************************************/
  .cont
	{
		overflow:hidden;
		margin: auto;
		width: 900px; /*the of the content */
		background-color:;
	
	}
	
	#extra
	{
		overflow: hidden;
		padding: 5em 0em;
		
		display:auto;
		width:104%;
	}
	
	#extra .title
	{
		text-align: center;
	}
	
	#extra .button
	{
		margin-top: 5em;
	}
	

	
	.title
	{
	
		margin:0px 40px 0px 420px;
	}
	
	.title h2
	{
		text-transform: uppercase;
		font-size: 2.8em;
	}
	
	.box h2
	{
		
		color: black;
	}
	.boxA,
	.boxB,
	.boxC
	{
		width: 280px;
		
		
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 60px;
		margin-left:50px;
	}
	
	.boxC
	{
	
		float: left;
	}
	
	#im
{
	width:280px;
	height:250px;
}

.det
{
	background-color:#c7a685;
	padding-left:10px;
	padding-right:10px;
	position: relative;
    display: block;
    text-decoration: none;
    border: dotted 1px #554728;
	border-color:#c3a07d;
}


.act div
 {
    position: relative;
    bottom: 170px;
    left: 0;
    right: 0;
    z-index: 2;
	color:#c3a07d;
	display:inline-block;
}
.act  
 {
    display: block;
    height: 30px;
    text-align: center;
    cursor: pointer;
	
}
.act span:hover
{
    background-color:#c3a07d;
	color:black;
}

.la

{
	background-color:white;
	margin-top:0px;
    position: relative;
    display: block;
   
    text-decoration: none;
    text-transform: uppercase;
   
	border-color:#c3a07d;
	display:inline-block;
}
.la header

{
	background-color: white;
	margin-top:0px;
    position: relative;
    display: block;
   
    text-decoration: none;
    text-transform: uppercase;
   
	border-color:#c3a07d;
	display:inline-block;
}


/*  for menu*/

#menu
	{
		position: absolute;
		top: 3em;
		right: 0;
	}
	
	#menu li
	{
		display: block;
		float: right;
		text-align: center;
	}
	
	#menu li a, #menu li p
	{
		padding: 1.5em 2.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #2B3F48;
	}
	
	#menu li:hover a
	{
		color:white;
		background-color: black;
		
		
	}
	
	#menu .current_page_item a
	{
		
		background:  #b6afaf;
		border-radius: 10px;
		color: black;
		margin:2px;
		
	}
	#menu #home a
	{
	
		background: #847777;
		border-radius: 10px;
		color:white;
		
	}
	#menu #home a:hover
	{
		background-color: black;
	}
	
	
	//****************************************detailn********************************//
   
	
	
	.boxA
	{
		float: left;
		margin-right: 60px;
		margin-left:50px;
	}
	
	.boxA.img
	{  
     height:130 px;
	 width:130 px;
	
	
	}	

	
	.boxB
	{
		float: left;
		margin-right: 60px;
		margin-left:50px;
		margin-top:50px;
		margin-bottom:50px;

	}
	
	.boxC
	{
	
		float: left;
	    margin-top:50px;
		margin-right: 90px;
		margin-bottom:50px;
	}
	#first
	
     {

     width:1180px;
     height:190px;
  	 background-color:white;
	 margin-top:0px;
	 margin-left:0px;
	 border-radius:20px 20px 20px 20px;
	}
	
    #second
       {

     width:1180px;
     height:80px;
  	 background-color:white;
	 margin-top:0px;
	 margin-left:0px;
	 border-radius:20px 20px 20px 20px;
	 border-color:red;

	}
	
	
	
		.boxAsecond
	{
		float: left;
		margin-right: 60px;
		margin-left:50px;
		margin-top:20px;

	}
	
	.boxBsecond
	{
		float:center;
		margin-right: 60px;
		margin-left:50px;
		margin-top:20px;
		margin-bottom:80px;
       
	}
	
	#third
	 {

     width:1180px;
     height:auto;
  	 background-color:white;
	 margin-top:10px;
	 margin-left:0px;
	 border-radius:20px 20px 20px 20px;
	 margin-bottom:50px;
	}

	
	
	
	
	
	
	
	
	